.App {
	font-family: sans-serif;
	text-align: center;
	background-color: #f5f5f5;
  overflow: hidden;
}

body::-webkit-scrollbar
{
  display: none;
}

.active {
  color: #f1a624;
  margin-top: 1rem;
}
.head{
  display: inline-block;
  position: relative;
  line-height: 1;
  cursor: pointer;
}
.head:after {
  position: absolute;
  content: '';
  border-bottom: 4px solid #FBB946;
  width: 70%;
  transform: translateX(-50%);
  bottom: 0px;
  left: 80%;
}
.yellowUnderline {
  position: relative;
  line-height: 1;
}
.yellowUnderline:after {
  position: absolute;
  content: '';
  border-bottom: 4px solid #fbc546;
  width: 70px;
  /* transform: translateX(-50%); */
  bottom: 25px;
  right: 80%;
}