.App {
	font-family: sans-serif;
	text-align: center;
	background-color: #f5f5f5;
  overflow: hidden;
}

body::-webkit-scrollbar
{
  display: none;
}

.active {
  color: #f1a624;
  margin-top: 1rem;
}
.head{
  display: inline-block;
  position: relative;
  line-height: 1;
  cursor: pointer;
}
.head:after {
  position: absolute;
  content: '';
  border-bottom: 4px solid #FBB946;
  width: 70%;
  transform: translateX(-50%);
  bottom: 0px;
  left: 80%;
}
.yellowUnderline {
  position: relative;
  line-height: 1;
}
.yellowUnderline:after {
  position: absolute;
  content: '';
  border-bottom: 4px solid #fbc546;
  width: 70px;
  /* transform: translateX(-50%); */
  bottom: 25px;
  right: 80%;
}
/* nprogress */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #fbc546;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #fbc546,  0 0 5px #fbc546;
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #fbc546;
  border-left-color: #fbc546;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}